@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.ttf");
  }

  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
  }

  @font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter-SemiBold.ttf");
  }
}

@import "./base";
